<a href="https://colab.research.google.com/github/juliansma/NLP/blob/main/Cuaderno_de_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Cuaderno de Manejo en Pandas

Pandas es una librería desarrollada para Python enfocada en la manipulación y análisis de datos. Ofrece estructuras de datos y operaciones para tablas de datos o series de tiempo. El primer paso es instalar e importar la libería:

In [1]:
#!pip install pandas
import pandas as pd

A continuación se puede usar Pandas para cargar archivos de diversos tipos usando la siguiente función pd.read_tipo_archivo, en este caso vamos a exportar el dataset de iris:

In [2]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

A continuación vemos que se ha creado un objeto del tipo pandas data frame:

In [3]:
type(iris)

pandas.core.frame.DataFrame

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Si llamamos al objeto, por defecto cargará las primeras y últimas 5 filas del conjunto de datos, si queremos especificar cuales filas queremos desplegar podemos utilizar el comando .head() y .tail() especificando entre los paréntesis el número de filas que vamos a visualizar (por defecto 5).

In [5]:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [6]:
iris.tail(7)

     sepal_length  sepal_width  petal_length  petal_width    species
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Otra función útil es .info() en la cual se despliega la información de las variables en nuestro conjunto de datos, además del tamaño (también se puede usar .shape) y número de valores nulos al interior del mismo.

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
iris.shape

(150, 5)

La función .describe() hace un resumen de las principales estadísticas para cada variable.

In [11]:
iris.describe(include="all") #por defecto no incluye las variables categóricas

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### **Seleccionar subconjuntos de una base de datos**

### Escoger columnas

Para ver el nombre de las columnas que existen, podemos utilizar *.columns*.

In [12]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

Para escoger una columna en especifico usamos la sintáxis df["Nombre de la columna].

In [13]:
Especie = iris["species"]

In [15]:
type(Especie)

pandas.core.series.Series

Vemos que por defecto pandas toma los subconjuntos de una columna como un objeto pandas.series, otra opción es utilizar la función .values y de esta manera obtenemos un objeto ndarray de numpy.

In [16]:
Especie_val=iris["species"].values
type(Especie_val)

numpy.ndarray

In [18]:
sepal=iris[["sepal_length","sepal_width"]]
type(sepal)

pandas.core.frame.DataFrame

Sin embargo vemos que al escoger dos columnas, el tipo de este nuevo objeto es un data frame de Pandas.

## Escoger filas

Podemos escoger ciertas filas a través de su posición. utilizando *.iloc[posición de la fila que queremos,]*

In [19]:
print(iris.iloc[0:1,])
print(type(iris.iloc[0:1,]))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
<class 'pandas.core.frame.DataFrame'>

La función .iloc también nos permite especificar filas y columnas separando con la coma el índice de la fila y el de la columna. En el ejemplo siguiente se escogen las filas 8 a la 11 (el intervalo es abierto en el límite superior) y las columnas 1 y 2. Hay que tener en cuenta que los índices en python y también en pandas comienzan en el 0.

In [20]:
print(iris.iloc[8:12,1:3])

    sepal_width  petal_length
8           2.9           1.4
9           3.1           1.5
10          3.7           1.5
11          3.4           1.6

También escoger filas con base a alguna condicion o característica específica usando un simbolo lógico.

In [22]:
iris[iris["sepal_width"] > 3.5]

     sepal_length  sepal_width  petal_length  petal_width    species
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
32            5.2          4.1           1.5          0.1     setosa
33            5.5          4.2           1.4          0.2     setosa
37            4.9          3.6           1.4          0.1     setosa
44            5.1          3.8           1.9          0.4     setosa
46            5.1          3.8           1.6          0.2     setosa
48            5.3          3.7           1.5          0.2     setosa
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
131           7.9          3.8           6.4          2.0  virginica

Filas que no tengan valores faltantes en determinada columna

In [5]:
no_na = iris[iris["sepal_width"].notna()]
print(no_na.shape)
print(iris.shape)

(150, 5)
(150, 5)

Para este caso no tenemos valores nulos.

### Filas con valores especificos

Existen varias maneras de realizar estas búsquedas, algunas de ellas son utilizando *isin*, *loc* de la librería seaborn y *or*.

In [6]:
codiris = iris[iris["sepal_width"].isin([3.6])]
codiris

     sepal_length  sepal_width  petal_length  petal_width    species
4             5.0          3.6           1.4          0.2     setosa
22            4.6          3.6           1.0          0.2     setosa
37            4.9          3.6           1.4          0.1     setosa
109           7.2          3.6           6.1          2.5  virginica

In [7]:
codiris2 = iris.loc[:, 'petal_width'] == 0.1
codiris2_ = iris.loc[codiris2]
codiris2_

    sepal_length  sepal_width  petal_length  petal_width species
9            4.9          3.1           1.5          0.1  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
32           5.2          4.1           1.5          0.1  setosa
37           4.9          3.6           1.4          0.1  setosa

In [8]:
iris[(iris['petal_width'] == 0.1) | (iris["petal_width"] == 0.2)]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
20           5.4          3.4           1.7          0.2  setosa
22           4.6          3.6           1.0          0.2  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
42           4.4          3.2           1.3          0.2  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

Filas con más de una característica específica.

In [9]:
iris[(iris["sepal_width"] == 3) & (iris["sepal_width"] == 3.7)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  0 non-null      float64
 1   sepal_width   0 non-null      float64
 2   petal_length  0 non-null      float64
 3   petal_width   0 non-null      float64
 4   species       0 non-null      object
dtypes: float64(4), object(1)
memory usage: 0.0+ bytes

### **Eliminar valores omitidos**

La funcion .dropna de Pandas permite eliminar los datos faltantes, sin embargo en este conjunto de datos no tenemos datos faltantes.

In [10]:
#Eliminar valores omitidos: dropna
# axis= 0 -> Eliminar fila completa
# axis=1 -> Eliminar columna completa
#iris.dropna() #inplace:modifique directamente la BD

## Manipulación datos textuales (Limpieza)

Para realizarle limpieza a una columna de nuestra base de datos podemos utilizar los siguientes metodos:

* **lower:**Poner en minúscula todo el texto.
* **replace:**Remplazar ciertos valores por otros.
* **strip:**Eliminar los espacios al principio y al final de la cadena.
* **title:**Poner primera letra de cada palabra en mayúscula.

## **Creación de columnas a partir de otras**

In [11]:
iris["area_sepal"]= iris["sepal_length"]*iris["sepal_width"]
print(iris[["area_sepal","sepal_length","sepal_width"]])

     area_sepal  sepal_length  sepal_width
0         17.85           5.1          3.5
1         14.70           4.9          3.0
2         15.04           4.7          3.2
3         14.26           4.6          3.1
4         18.00           5.0          3.6
..          ...           ...          ...
145       20.10           6.7          3.0
146       15.75           6.3          2.5
147       19.50           6.5          3.0
148       21.08           6.2          3.4
149       17.70           5.9          3.0

[150 rows x 3 columns]

### Renombrar columnas

In [12]:
print(iris.columns)
iris.rename(columns={"area_sepal":"sepal_area"},inplace=True) #renombrar columna
print(iris.columns) #Verificación

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'area_sepal'],
      dtype='object')
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'sepal_area'],
      dtype='object')

### **Eliminar filas y columnas**

Eliminación filas, puede ser por posición o que cumpla una característica.

In [14]:
print(iris.shape)
iris_subset = iris.drop(iris.iloc[0:3,].index)
print(iris_subset.shape)

(150, 6)
(147, 6)

### **Conteos**

In [15]:
iris.groupby("species")["sepal_width"].count().head(10)

species
setosa        50
versicolor    50
virginica     50
Name: sepal_width, dtype: int64

## Modificar tablas

es posible hacer cambios de orden y estructura en las tablas de pandas.

In [16]:
iris.sort_values(["sepal_width"], ascending=False)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area
15,5.7,4.4,1.5,0.4,setosa,25.08
33,5.5,4.2,1.4,0.2,setosa,23.10
32,5.2,4.1,1.5,0.1,setosa,21.32
14,5.8,4.0,1.2,0.2,setosa,23.20
16,5.4,3.9,1.3,0.4,setosa,21.06
...,...,...,...,...,...,...
87,6.3,2.3,4.4,1.3,versicolor,14.49
62,6.0,2.2,4.0,1.0,versicolor,13.20
68,6.2,2.2,4.5,1.5,versicolor,13.64
119,6.0,2.2,5.0,1.5,virginica,13.20
60,5.0,2.0,3.5,1.0,versicolor,10.00

Para reestructurar los datos usamos la función `pivot()`.

In [19]:
pivot_iris=iris.pivot(columns='species',
                values=['sepal_width','sepal_length'])
pivot_iris.head()

        sepal_width                      sepal_length
species      setosa versicolor virginica       setosa versicolor virginica
0               3.5        NaN       NaN          5.1        NaN       NaN
1               3.0        NaN       NaN          4.9        NaN       NaN
2               3.2        NaN       NaN          4.7        NaN       NaN
3               3.1        NaN       NaN          4.6        NaN       NaN
4               3.6        NaN       NaN          5.0        NaN       NaN

## Concatenar y unir

Es posible unir varias tablas tanto vertical como horizontalmente.


En ambos casos, podemos usar `concat()`, y se juntarán las bases con bases a los nombres de columnas o los indices de las filas

In [20]:
iris_setosa=iris[iris['species']=='setosa']
display(iris_setosa) #display:ejecuta el método dunder apropiado para obtener los datos apropiados para mostrar

    sepal_length  sepal_width  petal_length  petal_width species  sepal_area
0            5.1          3.5           1.4          0.2  setosa       17.85
1            4.9          3.0           1.4          0.2  setosa       14.70
2            4.7          3.2           1.3          0.2  setosa       15.04
3            4.6          3.1           1.5          0.2  setosa       14.26
4            5.0          3.6           1.4          0.2  setosa       18.00
5            5.4          3.9           1.7          0.4  setosa       21.06
6            4.6          3.4           1.4          0.3  setosa       15.64
7            5.0          3.4           1.5          0.2  setosa       17.00
8            4.4          2.9           1.4          0.2  setosa       12.76
9            4.9          3.1           1.5          0.1  setosa       15.19
10           5.4          3.7           1.5          0.2  setosa       19.98
11           4.8          3.4           1.6          0.2  setosa       16.32
12           4.8          3.0           1.4          0.1  setosa       14.40
13           4.3          3.0           1.1          0.1  setosa       12.90
14           5.8          4.0           1.2          0.2  setosa       23.20
15           5.7          4.4           1.5          0.4  setosa       25.08
16           5.4          3.9           1.3          0.4  setosa       21.06
17           5.1          3.5           1.4          0.3  setosa       17.85
18           5.7          3.8           1.7          0.3  setosa       21.66
19           5.1          3.8           1.5          0.3  setosa       19.38
20           5.4          3.4           1.7          0.2  setosa       18.36
21           5.1          3.7           1.5          0.4  setosa       18.87
22           4.6          3.6           1.0          0.2  setosa       16.56
23           5.1          3.3           1.7          0.5  setosa       16.83
24           4.8          3.4           1.9          0.2  setosa       16.32
25           5.0          3.0           1.6          0.2  setosa       15.00
26           5.0          3.4           1.6          0.4  setosa       17.00
27           5.2          3.5           1.5          0.2  setosa       18.20
28           5.2          3.4           1.4          0.2  setosa       17.68
29           4.7          3.2           1.6          0.2  setosa       15.04
30           4.8          3.1           1.6          0.2  setosa       14.88
31           5.4          3.4           1.5          0.4  setosa       18.36
32           5.2          4.1           1.5          0.1  setosa       21.32
33           5.5          4.2           1.4          0.2  setosa       23.10
34           4.9          3.1           1.5          0.2  setosa       15.19
35           5.0          3.2           1.2          0.2  setosa       16.00
36           5.5          3.5           1.3          0.2  setosa       19.25
37           4.9          3.6           1.4          0.1  setosa       17.64
38           4.4          3.0           1.3          0.2  setosa       13.20
39           5.1          3.4           1.5          0.2  setosa       17.34
40           5.0          3.5           1.3          0.3  setosa       17.50
41           4.5          2.3           1.3          0.3  setosa       10.35
42           4.4          3.2           1.3          0.2  setosa       14.08
43           5.0          3.5           1.6          0.6  setosa       17.50
44           5.1          3.8           1.9          0.4  setosa       19.38
45           4.8          3.0           1.4          0.3  setosa       14.40
46           5.1          3.8           1.6          0.2  setosa       19.38
47           4.6          3.2           1.4          0.2  setosa       14.72
48           5.3          3.7           1.5          0.2  setosa       19.61
49           5.0          3.3           1.4          0.2  setosa       16.50

In [21]:
iris_virginica=iris[iris['species']=='virginica']
display(iris_virginica) #display:ejecuta el método dunder apropiado para obtener los datos apropiados para mostrar

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area
100,6.3,3.3,6.0,2.5,virginica,20.79
101,5.8,2.7,5.1,1.9,virginica,15.66
102,7.1,3.0,5.9,2.1,virginica,21.30
103,6.3,2.9,5.6,1.8,virginica,18.27
104,6.5,3.0,5.8,2.2,virginica,19.50
105,7.6,3.0,6.6,2.1,virginica,22.80
106,4.9,2.5,4.5,1.7,virginica,12.25
107,7.3,2.9,6.3,1.8,virginica,21.17
108,6.7,2.5,5.8,1.8,virginica,16.75
109,7.2,3.6,6.1,2.5,virginica,25.92
110,6.5,3.2,5.1,2.0,virginica,20.80
111,6.4,2.7,5.3,1.9,virginica,17.28
112,6.8,3.0,5.5,2.1,virginica,20.40
113,5.7,2.5,5.0,2.0,virginica,14.25
114,5.8,2.8,5.1,2.4,virginica,16.24
115,6.4,3.2,5.3,2.3,virginica,20.48
116,6.5,3.0,5.5,1.8,virginica,19.50
117,7.7,3.8,6.7,2.2,virginica,29.26
118,7.7,2.6,6.9,2.3,virginica,20.02
119,6.0,2.2,5.0,1.5,virginica,13.20
120,6.9,3.2,5.7,2.3,virginica,22.08
121,5.6,2.8,4.9,2.0,virginica,15.68
122,7.7,2.8,6.7,2.0,virginica,21.56
123,6.3,2.7,4.9,1.8,virginica,17.01
124,6.7,3.3,5.7,2.1,virginica,22.11
125,7.2,3.2,6.0,1.8,virginica,23.04
126,6.2,2.8,4.8,1.8,virginica,17.36
127,6.1,3.0,4.9,1.8,virginica,18.30
128,6.4,2.8,5.6,2.1,virginica,17.92
129,7.2,3.0,5.8,1.6,virginica,21.60
130,7.4,2.8,6.1,1.9,virginica,20.72
131,7.9,3.8,6.4,2.0,virginica,30.02
132,6.4,2.8,5.6,2.2,virginica,17.92
133,6.3,2.8,5.1,1.5,virginica,17.64
134,6.1,2.6,5.6,1.4,virginica,15.86
135,7.7,3.0,6.1,2.3,virginica,23.10
136,6.3,3.4,5.6,2.4,virginica,21.42
137,6.4,3.1,5.5,1.8,virginica,19.84
138,6.0,3.0,4.8,1.8,virginica,18.00
139,6.9,3.1,5.4,2.1,virginica,21.39
140,6.7,3.1,5.6,2.4,virginica,20.77
141,6.9,3.1,5.1,2.3,virginica,21.39
142,5.8,2.7,5.1,1.9,virginica,15.66
143,6.8,3.2,5.9,2.3,virginica,21.76
144,6.7,3.3,5.7,2.5,virginica,22.11
145,6.7,3.0,5.2,2.3,virginica,20.10
146,6.3,2.5,5.0,1.9,virginica,15.75
147,6.5,3.0,5.2,2.0,virginica,19.50
148,6.2,3.4,5.4,2.3,virginica,21.08
149,5.9,3.0,5.1,1.8,virginica,17.70

Si se hace la concatenación sin más, se tomarán todas las columnas y se agregarán NaN

In [22]:
iris_virginica_setosa=pd.concat([iris_setosa, iris_virginica])
display(iris_virginica_setosa)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area
0,5.1,3.5,1.4,0.2,setosa,17.85
1,4.9,3.0,1.4,0.2,setosa,14.70
2,4.7,3.2,1.3,0.2,setosa,15.04
3,4.6,3.1,1.5,0.2,setosa,14.26
4,5.0,3.6,1.4,0.2,setosa,18.00
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10
146,6.3,2.5,5.0,1.9,virginica,15.75
147,6.5,3.0,5.2,2.0,virginica,19.50
148,6.2,3.4,5.4,2.3,virginica,21.08
149,5.9,3.0,5.1,1.8,virginica,17.70